#header {
  font-family: sans-serif;
  box-shadow: 0 7px 24px rgba(0,0,0,.08);
  padding: 0.25rem;
}

#content {
  display: flex;
  align-items: center;
  max-width: 86rem;
  width: 80%;
  margin-inline: auto;
}

#wpp_logo {
  margin-right: 15px;
}
