.content {
  font-family: sans-serif;
  max-width: 86rem;
  width: 80%;
  margin-inline: auto;
}

.content b {
  white-space: nowrap;
}

.content #video_upload {
  margin-top: 10px;
}

.content h3 {
  margin-bottom: 5px;
}

.progressbar_wrapper{
  align-items: center;
  justify-content: flex-start;
}

.progressbar_wrapper > div{
  margin-block: 1rem;
}
